{% extends "auctions/layout.html" %}

{% block body %}
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <h1 class="text-center">
        {{ listing.title }}
    </h1>
    <p class="text-secondary text-opacity-50">
    </p>
    <p class="text-secondary">
        Created by {{ listing.created_by }}
    </p>
    <h2 class="text-center">Descritpion:</h2>
    <p class="text-center">
        {{ listing.description }}
    </p>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" class="img-thumbnail h-25 w-25 mx-auto d-block" alt="{{ listing.title }}">
    {% else %}
        <img src="https://adishop.az/images/product_empty.png" class="img-thumbnail rounded" alt="{{ listing.title }}">
    {% endif %}

    <p> 
    {% if listing.listing_bid.all %}
        {% with bid=listing.listing_bid.all|dictsort:"bid"|last %}  
        <h1>Bid winned by:</h1> <h2>{{bid.bid_user}}</h2> ({{ bid.bid }} )
        {% endwith %}
    {% else %}
        None bided it
    {% endif %}
    </p>

    <p><h3>Category:</h3>{% if listing.category %}
         {{ listing.category }}
    {% else %}
         None
    {% endif %}</p>
    <h4>
        Make new comment:
    </h4>

    {% if user.is_authenticated %}
    <form action="{% url 'comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="pk_listing" value="{{ listing.pk }}">
        {{ comment_form }}
        <button type="submit" class="btn btn-primary">
            Add comment
        </button>
    </form>
    {% endif %}

    <h2>Comments:</h2>
    <div>
        {% for comment in listing.listing_comment.all %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ comment.comment_user}}</h5>
                <p class="card-text">{{ comment.comment }}</p>
            </div>
        </div>

        {% endfor %}
    </div>
{% endblock %}